*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, hsl(300, 5%, 50%), hsl(295, 40%, 50%) );
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 1rem;
}

.btn {
    padding: 5px 10px; 
    background-color: #B800F6;
    color: white; 
}

